IMPORTING REQUIRED LIBRARIES

In [20]:
import pandas as pd
import numpy as np

LOADING THE DATA

In [21]:
data = pd.read_csv('data.csv', low_memory = False, index_col = 0)
data1 = data.copy()
data1.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [22]:
data1.shape

(855969, 72)

In [23]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 855969 entries, 1077501 to 36271262
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    855969 non-null  int64
 1   loan_amnt                    855969 non-null  int64
 2   funded_amnt                  855969 non-null  int64
 3   funded_amnt_inv              855969 non-null  float64
 4   term                         855969 non-null  object
 5   int_rate                     855969 non-null  float64
 6   installment                  855969 non-null  float64
 7   grade                        855969 non-null  object
 8   sub_grade                    855969 non-null  object
 9   emp_title                    806526 non-null  object
 10  emp_length                   812908 non-null  object
 11  home_ownership               855969 non-null  object
 12  annual_inc                   855969 non-null  float64
 13  verification_status          855969 non-null  object
 14  issue_d                      855969 non-null  object
 15  pymnt_plan                   855969 non-null  object
 16  desc                         121812 non-null  object
 17  purpose                      855969 non-null  object
 18  title                        855936 non-null  object
 19  zip_code                     855969 non-null  object
 20  addr_state                   855969 non-null  object
 21  dti                          855969 non-null  float64
 22  delinq_2yrs                  855969 non-null  int64
 23  earliest_cr_line             855969 non-null  object
 24  inq_last_6mths               855969 non-null  int64
 25  mths_since_last_delinq       416157 non-null  float64
 26  mths_since_last_record       131184 non-null  float64
 27  open_acc                     855969 non-null  int64
 28  pub_rec                      855969 non-null  int64
 29  revol_bal                    855969 non-null  int64
 30  revol_util                   855523 non-null  float64
 31  total_acc                    855969 non-null  int64
 32  initial_list_status          855969 non-null  object
 33  out_prncp                    855969 non-null  float64
 34  out_prncp_inv                855969 non-null  float64
 35  total_pymnt                  855969 non-null  float64
 36  total_pymnt_inv              855969 non-null  float64
 37  total_rec_prncp              855969 non-null  float64
 38  total_rec_int                855969 non-null  float64
 39  total_rec_late_fee           855969 non-null  float64
 40  recoveries                   855969 non-null  float64
 41  collection_recovery_fee      855969 non-null  float64
 42  last_pymnt_d                 847107 non-null  object
 43  last_pymnt_amnt              855969 non-null  float64
 44  next_pymnt_d                 602998 non-null  object
 45  last_credit_pull_d           855919 non-null  object
 46  collections_12_mths_ex_med   855913 non-null  float64
 47  mths_since_last_major_derog  213139 non-null  float64
 48  policy_code                  855969 non-null  int64
 49  application_type             855969 non-null  object
 50  annual_inc_joint             442 non-null     float64
 51  dti_joint                    442 non-null     float64
 52  verification_status_joint    442 non-null     object
 53  acc_now_delinq               855969 non-null  int64
 54  tot_coll_amt                 788656 non-null  float64
 55  tot_cur_bal                  788656 non-null  float64
 56  open_acc_6m                  13288 non-null   float64
 57  open_il_6m                   13288 non-null   float64
 58  open_il_12m                  13288 non-null   float64
 59  open_il_24m                  13288 non-null   float64
 60  mths_since_rcnt_il           12934 non-null   float64
 61  total_bal_il                 13288 non-null   float64
 62  il_util                      11609 non-null   float64
 63  open_rv_12m                  13288 non-null   float64
 64  open_rv_24m                  13288 non-null   float64
 65  max_bal_bc                   13288 non-null   float64
 66  all_util                     13288 non-null   float64
 67  total_rev_hi_lim             788656 non-null  float64
 68  inq_fi                       13288 non-null   float64
 69  total_cu_tl                  13288 non-null   float64
 70  inq_last_12m                 13288 non-null   float64
 71  default_ind                  855969 non-null  int64
dtypes: float64(39), int64(12), object(21)
memory usage: 476.7+ MB

In [24]:
data1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
member_id,855969.0,3.476269e+07,2.399418e+07,70699.00,10792732.00,36975319.00,5.803559e+07,7.351969e+07
loan_amnt,855969.0,1.474557e+04,8.425340e+03,500.00,8000.00,13000.00,2.000000e+04,3.500000e+04
funded_amnt,855969.0,1.473238e+04,8.419472e+03,500.00,8000.00,13000.00,2.000000e+04,3.500000e+04
funded_amnt_inv,855969.0,1.470006e+04,8.425805e+03,0.00,8000.00,13000.00,2.000000e+04,3.500000e+04
int_rate,855969.0,1.319232e+01,4.368365e+00,5.32,9.99,12.99,1.599000e+01,2.899000e+01
installment,855969.0,4.362381e+02,2.437269e+02,15.69,260.55,382.55,5.715600e+02,1.445460e+03
annual_inc,855969.0,7.507119e+04,6.426447e+04,0.00,45000.00,65000.00,9.000000e+04,9.500000e+06
dti,855969.0,1.812216e+01,1.742363e+01,0.00,11.88,17.61,2.390000e+01,9.999000e+03
delinq_2yrs,855969.0,3.116211e-01,8.571894e-01,0.00,0.00,0.00,0.000000e+00,3.900000e+01
inq_last_6mths,855969.0,6.809148e-01,9.640331e-01,0.00,0.00,0.00,1.000000e+00,8.000000e+00
mths_since_last_delinq,416157.0,3.414994e+01,2.186850e+01,0.00,15.00,31.00,5.000000e+01,1.880000e+02
mths_since_last_record,131184.0,7.046396e+01,2.782712e+01,0.00,51.00,70.00,9.200000e+01,1.290000e+02
open_acc,855969.0,1.154245e+01,5.308094e+00,0.00,8.00,11.00,1.400000e+01,9.000000e+01
pub_rec,855969.0,1.945374e-01,5.815855e-01,0.00,0.00,0.00,0.000000e+00,8.600000e+01
revol_bal,855969.0,1.691053e+04,2.222374e+04,0.00,6469.00,11903.00,2.085700e+04,2.904836e+06
revol_util,855523.0,5.501940e+01,2.381158e+01,0.00,37.60,55.90,7.350000e+01,8.923000e+02
total_acc,855969.0,2.526927e+01,1.181884e+01,2.00,17.00,24.00,3.200000e+01,1.690000e+02
out_prncp,855969.0,8.284830e+03,8.461947e+03,0.00,0.00,6290.25,1.352880e+04,4.937286e+04
out_prncp_inv,855969.0,8.281449e+03,8.458496e+03,0.00,0.00,6287.65,1.352251e+04,4.937286e+04
total_pymnt,855969.0,7.653296e+03,7.909384e+03,0.00,1969.69,4976.16,1.074480e+04,5.777758e+04
total_pymnt_inv,855969.0,7.622221e+03,7.885156e+03,0.00,1960.12,4948.25,1.069733e+04,5.777758e+04
total_rec_prncp,855969.0,5.850841e+03,6.676411e+03,0.00,1239.95,3286.89,8.000000e+03,3.500003e+04
total_rec_int,855969.0,1.755046e+03,2.081693e+03,0.00,451.27,1076.91,2.233980e+03,2.420562e+04
total_rec_late_fee,855969.0,3.195295e-01,3.609399e+00,0.00,0.00,0.00,0.000000e+00,3.586800e+02
recoveries,855969.0,4.708950e+01,4.131360e+02,0.00,0.00,0.00,0.000000e+00,3.352027e+04
collection_recovery_fee,855969.0,4.951227e+00,6.247857e+01,0.00,0.00,0.00,0.000000e+00,7.002190e+03
last_pymnt_amnt,855969.0,2.225985e+03,4.864967e+03,0.00,285.42,468.82,8.491600e+02,3.647559e+04
collections_12_mths_ex_med,855913.0,1.423042e-02,1.337116e-01,0.00,0.00,0.00,0.000000e+00,2.000000e+01
mths_since_last_major_derog,213139.0,4.410145e+01,2.216491e+01,0.00,27.00,44.00,6.100000e+01,1.880000e+02
policy_code,855969.0,1.000000e+00,0.000000e+00,1.00,1.00,1.00,1.000000e+00,1.000000e+00
annual_inc_joint,442.0,1.074122e+05,4.798761e+04,17950.00,75000.25,100000.00,1.307500e+05,4.100000e+05
dti_joint,442.0,1.836204e+01,7.235026e+00,3.05,13.19,17.75,2.265000e+01,4.386000e+01
acc_now_delinq,855969.0,4.944104e-03,7.733339e-02,0.00,0.00,0.00,0.000000e+00,1.400000e+01
tot_coll_amt,788656.0,2.254129e+02,1.048945e+04,0.00,0.00,0.00,0.000000e+00,9.152545e+06
tot_cur_bal,788656.0,1.397662e+05,1.539385e+05,0.00,29870.00,81008.50,2.087032e+05,8.000078e+06
open_acc_6m,13288.0,1.072998e+00,1.206939e+00,0.00,0.00,1.00,2.000000e+00,1.200000e+01
open_il_6m,13288.0,2.945665e+00,3.080330e+00,0.00,1.00,2.00,4.000000e+00,4.000000e+01
open_il_12m,13288.0,7.493227e-01,9.861689e-01,0.00,0.00,0.00,1.000000e+00,1.200000e+01
open_il_24m,13288.0,1.666767e+00,1.685394e+00,0.00,0.00,1.00,2.000000e+00,1.500000e+01
mths_since_rcnt_il,12934.0,2.083315e+01,2.673924e+01,0.00,6.00,12.00,2.300000e+01,3.000000e+02
total_bal_il,13288.0,3.651154e+04,4.249276e+04,0.00,10390.25,24959.50,4.749300e+04,6.342170e+05
il_util,11609.0,7.148699e+01,2.301529e+01,0.00,58.50,75.00,8.750000e+01,2.233000e+02
open_rv_12m,13288.0,1.354305e+00,1.483710e+00,0.00,0.00,1.00,2.000000e+00,2.200000e+01
open_rv_24m,13288.0,2.945515e+00,2.595313e+00,0.00,1.00,2.00,4.000000e+00,4.300000e+01
max_bal_bc,13288.0,5.840443e+03,5.108500e+03,0.00,2405.00,4485.50,7.701250e+03,8.304700e+04
all_util,13288.0,6.102453e+01,2.001812e+01,0.00,47.90,62.10,7.530000e+01,1.514000e+02
total_rev_hi_lim,788656.0,3.216357e+04,3.769964e+04,0.00,14000.00,23800.00,3.990000e+04,9.999999e+06
inq_fi,13288.0,9.477724e-01,1.441667e+00,0.00,0.00,0.00,1.000000e+00,1.500000e+01
total_cu_tl,13288.0,1.524232e+00,2.697601e+00,0.00,0.00,0.00,2.000000e+00,3.300000e+01
inq_last_12m,13288.0,1.841963e+00,2.975049e+00,-4.00,0.00,2.00,3.000000e+00,3.200000e+01
default_ind,855969.0,5.428584e-02,2.265810e-01,0.00,0.00,0.00,0.000000e+00,1.000000e+00

In [25]:
data1.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'default_ind'],
      dtype='object')

DATA CLEANING

In [26]:
# Renaming the variables

renamed_variables = ['member_id','loan_amount','approved_amount_bank','approved_amount_investor','term','interest_rate',
                    'emi','grade','sub_grade','emp_title','emp_length','home_ownership','inc_borrower','verification_status',
                    'issue_date','payment_plan','desc','purpose','title','zip_code','state_code','ratio_inc_exp_borrower',
                    'delinq_2yrs','first_credit','enquires_by_creditors','month_since_last_delinq','months_since_last_record',
                    'open_credit_lines','no._of_negative_factors','revolving_balance','revol_util','total_credit_lines',
                    'initial_loan_type','outstndg_principal_amount','outstndg_principal_amount_investor','total_amount_paid',
                    'total_amount_paid_invt','prncp_amount_recovered','interest_amount_paid','late_fee', 'add_charges',
                    'penalty_fee','last_payment_date','last_amount_paid','next_payment_date', 'credit_report',
                    'collections_within_12months','month_since_last_major_derog','policy_code','application_type',
                    'inc_joint','ratio_inc_exp_joint','verified_status_joint','acc_now_delinq','total_collection',
                    'total_current_bal', 'open_acc_6m','open_il_6m','open_il_12m','open_il_24m','months_since_rcnt_il',
                    'total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim',
                    'Inq_fi','total_cu_tl','inq_last_12m','default']

data1.columns = renamed_variables
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 855969 entries, 1077501 to 36271262
Data columns (total 72 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   member_id                           855969 non-null  int64
 1   loan_amount                         855969 non-null  int64
 2   approved_amount_bank                855969 non-null  int64
 3   approved_amount_investor            855969 non-null  float64
 4   term                                855969 non-null  object
 5   interest_rate                       855969 non-null  float64
 6   emi                                 855969 non-null  float64
 7   grade                               855969 non-null  object
 8   sub_grade                           855969 non-null  object
 9   emp_title                           806526 non-null  object
 10  emp_length                          812908 non-null  object
 11  home_ownership                      855969 non-null  object
 12  inc_borrower                        855969 non-null  float64
 13  verification_status                 855969 non-null  object
 14  issue_date                          855969 non-null  object
 15  payment_plan                        855969 non-null  object
 16  desc                                121812 non-null  object
 17  purpose                             855969 non-null  object
 18  title                               855936 non-null  object
 19  zip_code                            855969 non-null  object
 20  state_code                          855969 non-null  object
 21  ratio_inc_exp_borrower              855969 non-null  float64
 22  delinq_2yrs                         855969 non-null  int64
 23  first_credit                        855969 non-null  object
 24  enquires_by_creditors               855969 non-null  int64
 25  month_since_last_delinq             416157 non-null  float64
 26  months_since_last_record            131184 non-null  float64
 27  open_credit_lines                   855969 non-null  int64
 28  no._of_negative_factors             855969 non-null  int64
 29  revolving_balance                   855969 non-null  int64
 30  revol_util                          855523 non-null  float64
 31  total_credit_lines                  855969 non-null  int64
 32  initial_loan_type                   855969 non-null  object
 33  outstndg_principal_amount           855969 non-null  float64
 34  outstndg_principal_amount_investor  855969 non-null  float64
 35  total_amount_paid                   855969 non-null  float64
 36  total_amount_paid_invt              855969 non-null  float64
 37  prncp_amount_recovered              855969 non-null  float64
 38  interest_amount_paid                855969 non-null  float64
 39  late_fee                            855969 non-null  float64
 40  add_charges                         855969 non-null  float64
 41  penalty_fee                         855969 non-null  float64
 42  last_payment_date                   847107 non-null  object
 43  last_amount_paid                    855969 non-null  float64
 44  next_payment_date                   602998 non-null  object
 45  credit_report                       855919 non-null  object
 46  collections_within_12months         855913 non-null  float64
 47  month_since_last_major_derog        213139 non-null  float64
 48  policy_code                         855969 non-null  int64
 49  application_type                    855969 non-null  object
 50  inc_joint                           442 non-null     float64
 51  ratio_inc_exp_joint                 442 non-null     float64
 52  verified_status_joint               442 non-null     object
 53  acc_now_delinq                      855969 non-null  int64
 54  total_collection                    788656 non-null  float64
 55  total_current_bal                   788656 non-null  float64
 56  open_acc_6m                         13288 non-null   float64
 57  open_il_6m                          13288 non-null   float64
 58  open_il_12m                         13288 non-null   float64
 59  open_il_24m                         13288 non-null   float64
 60  months_since_rcnt_il                12934 non-null   float64
 61  total_bal_il                        13288 non-null   float64
 62  il_util                             11609 non-null   float64
 63  open_rv_12m                         13288 non-null   float64
 64  open_rv_24m                         13288 non-null   float64
 65  max_bal_bc                          13288 non-null   float64
 66  all_util                            13288 non-null   float64
 67  total_rev_hi_lim                    788656 non-null  float64
 68  Inq_fi                              13288 non-null   float64
 69  total_cu_tl                         13288 non-null   float64
 70  inq_last_12m                        13288 non-null   float64
 71  default                             855969 non-null  int64
dtypes: float64(39), int64(12), object(21)
memory usage: 476.7+ MB

In [27]:
data1.columns

Index(['member_id', 'loan_amount', 'approved_amount_bank',
       'approved_amount_investor', 'term', 'interest_rate', 'emi', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'inc_borrower', 'verification_status', 'issue_date', 'payment_plan',
       'desc', 'purpose', 'title', 'zip_code', 'state_code',
       'ratio_inc_exp_borrower', 'delinq_2yrs', 'first_credit',
       'enquires_by_creditors', 'month_since_last_delinq',
       'months_since_last_record', 'open_credit_lines',
       'no._of_negative_factors', 'revolving_balance', 'revol_util',
       'total_credit_lines', 'initial_loan_type', 'outstndg_principal_amount',
       'outstndg_principal_amount_investor', 'total_amount_paid',
       'total_amount_paid_invt', 'prncp_amount_recovered',
       'interest_amount_paid', 'late_fee', 'add_charges', 'penalty_fee',
       'last_payment_date', 'last_amount_paid', 'next_payment_date',
       'credit_report', 'collections_within_12months',
       'month_since_last_major_derog', 'policy_code', 'application_type',
       'inc_joint', 'ratio_inc_exp_joint', 'verified_status_joint',
       'acc_now_delinq', 'total_collection', 'total_current_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'months_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'Inq_fi',
       'total_cu_tl', 'inq_last_12m', 'default'],
      dtype='object')

2. Extracting Values

In [28]:
# Extracting the number from the string value
# e.g '10+ years' is converted to 10

data1['emp_length'] = data1['emp_length'].str.split(' ').str[0]
#print(data1['emp_length'].value_counts())

# Replacing the values
# '10+' -> 10
# '<' -> 0

data1['emp_length'].loc[data1['emp_length'] == '10+'] = 10
data1['emp_length'].loc[data1['emp_length'] == '<'] = 0
data1['emp_length'].value_counts()

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

10    282090
2      75986
0      67597
3      67392
1      54855
5      53812
4      50643
7      43204
8      42421
6      41446
9      33462
Name: emp_length, dtype: int64

In [29]:
# Extracting the number from the string value
# e.g ' 36 months' -> 36

#data1['term'].value_counts()
data1['term'] = data1['term'].str.split(' ').str[1]
data1['term'].value_counts()

36    600221
60    255748
Name: term, dtype: int64

In [30]:
# extracting the month and year value for each date variable
# e.g '01-02-1985' (dd-mm-yyyy) -> month -> 2
#                                  year -> 1985


dv = ['first_credit','issue_date','credit_report','last_payment_date','next_payment_date']

for i in dv:
    data1[i] = pd.to_datetime(data1[i], format = '%d-%m-%Y')
    a = i+'_month'
    b = i+'_year'
    data1[a] = data1[i].apply(lambda date : date.month)
    data1[b] = data1[i].apply(lambda date : date.year)


# dropping the original date columns except for 'issue_date'

dv.remove('issue_date') 
data1.drop(dv, axis = 1, inplace = True)